[package]
name = "REPLACE_ME_RUST_CRATE_NAME"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
flutter_rust_bridge = REPLACE_ME_RUST_FRB_DEPENDENCY
log = "0.4.20"  # Optional - can be removed if you do not want logging
chrono = "0.4.23"  # Optional - can be removed if you do not want logging (needed only for the default log output)