[submodule "frb_codegen/assets/integration_template/plugin/cargokit"]
	path = frb_codegen/assets/integration_template/plugin/cargokit
	url = https://github.com/fzyzcjy/cargokit
	branch = codex/hmos-main
[submodule "frb_codegen/assets/integration_template/app/rust_builder/cargokit"]
	path = frb_codegen/assets/integration_template/app/rust_builder/cargokit
	url = https://github.com/fzyzcjy/cargokit
	branch = codex/hmos-main
