[submodule "frb_codegen/assets/integration_template/shared/rust_builder/cargokit"]
	path = frb_codegen/assets/integration_template/shared/rust_builder/cargokit
	url = https://github.com/irondash/cargokit
