.DS_Store
.idea
*.iml
target
launch.json
.local-chromium
.local-chrome
Makefile
*.log
.vscode
coverage/
lcov.info
temp.txt
frb_example/my_app

# FVM Version Cache
.fvm/

# Dart & Pub related
.dart_tool/
/pubspec.lock
pubspec_overrides.yaml
