flutter_rust_bridge.code-workspace
.devcontainer/
temp
fvm_tar_workaround.sh
act

.DS_Store
.idea
*.iml
target
launch.json
.local-chromium
.local-chrome
Makefile
*.log
.vscode
coverage/
lcov.info
temp.txt
frb_example/my_app

# FVM Version Cache
.fvm/