import 'package:json_annotation/json_annotation.dart';

part 'unrelated_model.g.dart';

@JsonSerializable()
class UnrelatedModel {
  const UnrelatedModel(this.value);

  final int value;

  factory UnrelatedModel.fromJson(Map<String, dynamic> json) =>
      _$UnrelatedModelFromJson(json);

  Map<String, dynamic> toJson() => _$UnrelatedModelToJson(this);
}
