name: Install mdbook and dependencies

description: Install mdbook with the dependencies we need.

runs:
  using: composite
  steps:
    - name: Install mdbook
      run: cargo install mdbook --locked --version 0.4.28
      shell: bash

    - name: Install mdbook-mermaid
      run: cargo install mdbook-mermaid --locked --version 0.12.6
      shell: bash

    - name: Install mdbook-i18n-helpers
      run: cargo install mdbook-i18n-helpers --locked --version 0.1.0
      shell: bash
